# dependencies
node_modules/
/.pnpm-store

# next.js
.next/
out/
app-temp/.next/
app-temp/out/

# production
build/
app-temp/build/

# misc
.DS_Store
*.log
*.pem
*.key
*.p12
*.pfx
secrets/
backups/
coverage/

# local env files
.env
.env.*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
